<div class="container-fluid d-flex flex-column min-vh-100">
  <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
      <div class="container-fluid">
        🚀 Quick Cache Demo (v1.0.1.13)
      </div>
    </nav>
  </header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 sidebar border-right">
        <mat-list>
          <mat-list-item>
            <a (click)="startBasicTest()" mat-button>
              <mat-icon>play_circle_filled</mat-icon>
              <span class="ml-2">Run Basic Test</span>
            </a>
          </mat-list-item>
        </mat-list>
      </div>

      <!-- Main Content -->
      <div class="col-10 content">
        
        <!-- REDIS -->
        <div class="row">
          <h4>Redis Cache</h4>
        </div>
        <div class="row">
          <!-- <div class="col-2">
            <div class="row p-3">
              <button mat-raised-button (click)="startRedisTest()">Start</button>
            </div>
            <div class="row p-3">
              <button mat-raised-button (click)="getRedisResults()">Results</button>
            </div>
            <div class="row p-3">
              <button mat-raised-button (click)="getRedisMetrics()">Metrics</button>
            </div>
          </div> -->
          <div class="col-2">
            <ngx-gauge [max]="10" [value]="gaugeRedisValue" [label]="gaugeRedisLabel" [append]="gaugeRedisAppendText">

            </ngx-gauge>
          </div>
          <div class="col-8 chart-container">
            <canvas #redisChartCanvas></canvas>
            
          </div>
          <div class="col-2">
            <textarea style="visibility: visible;" rows="4" cols="50">{{ apiRedisResponse | json }}</textarea>
          </div>
        </div>

        <!-- Quick Cache -->
        <div class="row">
          <h4>Quick Cache</h4>
        </div>
        <div class="row">
          <!-- <div class="col-2">
            <div class="row p-3">
              <button mat-raised-button (click)="startQuickTest()">Start</button>
            </div>
            <div class="row p-3">
              <button mat-raised-button (click)="getQuickResults()">Results</button>
            </div>
            <div class="row p-3">
              <button mat-raised-button (click)="getQuickMetrics()">Metrics</button>
            </div>
          </div> -->
          <div class="col-2">
            <ngx-gauge [max]="10" [value]="gaugeQuickValue" [label]="gaugeQuickLabel" [append]="gaugeQuickAppendText">

            </ngx-gauge>
          </div>
          <div class="col-8 chart-container">
            <canvas #quickChartCanvas></canvas>
          </div>

          <div class="col-2">
            <textarea style="visibility: visible;" rows="4" cols="50">{{ apiQuickResponse | json }}</textarea>
          </div>
        </div>


      </div>
    </div>
  </div>

  <footer class="border-top footer text-muted">
    <div class="container">
      &copy; 2023 - Quick Cache Demo
    </div>
  </footer>
</div>